*.mp4
*.avi
*.pyc
*.weights
/cropped_detections/*
/n_init10
n_init12-20220918T091044Z-001.zip
/n_init12
iou-20220918T094151Z-001.zip
/tt
MAX518BCSA-T.zip
/plates/*
/input/*.mp4
/output/*
/working/*
detections.csv
